
$white:#fff;
$green:#49c5b1;
$gray:#a6a5a5;
$font_body: 'Open Sans', sans-serif 16px 400;
$font_h3: 'Open Sans', sans-serif 27px;
$font_h2: 'Open Sans', sans-serif 38px 700;
$font_h1: 'Open Sans', sans-serif 51px 700;